body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #F8F6E9;
    color: #5A040A;
}
header{
    position: fixed;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    flex-direction: row;

}
#imagen{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
}
main{

}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50vh;
    flex-shrink: 1;
    padding: 20px;
    padding: auto;
}