body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #F8F6E9;
    color: #5A040A;
}
header{
    
}
 nav ul{
    right: 0;
    position: fixed;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    gap: 15px;

}
nav ul li{
    margin: 0;
}
nav ul li a{
   display: block; 
   text-decoration: none;
   padding: 5px;
   border-radius: 5px;
   background-color: #F8F6E9;
    color: #5A040A;
    font-size: small;
    justify-content:left;
}
a:hover{
    background-color: #5A040A;
    color: #F8F6E9;
    cursor: pointer;

}
.Yummy{
    margin: 0;
    background-color: #F8F6E9;
    color: #5A040A;
    border-radius: 10%;
    border-color: #5A040A;
    font-family: 'Open Sans', sans-serif;

}

#imagen{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
}
main{
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;

}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 2;
}
 .show{
    background-color: #F8F6E9;
    color: #5A040A;
    border-radius: 10%;
    border-color: #5A040A;
    font-family: 'Open Sans', sans-serif;
 
    
}
button:hover{
    background-color: #5A040A;
    color: #F8F6E9;
}
